<p>Text in p</p>

{% schema %}
  {
    "name": "Artikelsektion",
    "tag": "article",
    "class": "article",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }

    ]
  }
{% endschema %}