<p>Text in p</p>

{% schema %}
  {
    "name": "Artikelsektion",
    "tag": "article",
    "class": "article",
    "presets": [
      {
        "name": "Default custom sections"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }

    ]
  }
{% endschema %}